DJANGO_SECRET_KEY=
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

OPENAI_API_KEY=
OPENAI_MODEL=
OPENAI_PROXY=

CLICKHOUSE_HOST=
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=

MSSQL_HOST=
MSSQL_PORT=1433
MSSQL_USER=
MSSQL_PASSWORD=
MSSQL_DATABASE=
MSSQL_ODBC_DRIVER=ODBC Driver 18 for SQL Server
